<div class="spotify-playlist">
    <h2>Músicas</h2>
    <ng-container *ngFor="let artist of Artists "; let i="index">
    <ng-container *ngFor="let b of artist.albums "; let i="index">
    <ng-container *ngFor="let c of b.songs "; let i="index">
        <div class="list">
            <div class="item1">
                <img routerLink="/albuns" src="{{b.image}}">
                <div class="play">
                    <span class="fa fa-heart" (click)=addtofav(c.title)></span>
                </div>
                <h4>{{c.title}}</h4>
                <p>{{b.title}}</p>
                <p>Duração: {{c.length}}</p>
            </div>
        </div>
    </ng-container>
    </ng-container>         
    </ng-container>
</div>
